@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background: url('../images/op7.jpg') no-repeat center center/cover;
    color: #ecf0f1;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    background-color: #34495e;
    text-align: center;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

/* .sidebar-menu li {
    padding: 15px 20px;
}
 */
.sidebar-menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0;
}

.sidebar-menu li a:hover {
    background-color: #34495e;
    border-radius: 4px;
    color:#fff;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    background-color: #ecf0f1;
}



header {
    display: flex;
     justify-content: space-between;
       align-items: center;
    background-color: #bdc3c7;
      padding: 15px;
     border-radius: 5px;
}

header h2 {
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
     border-radius: 50%;
    width: 40px;
     height: 40px;
    margin-right: 10px;
}


.profile-info p {
    margin: 0;
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.stat-item {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.stat-item h3 {
    margin: 0 0 10px;
}

.main-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.activity-list {
    list-style: none;
    padding: 0;
}

.activity-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ecf0f1;
}

.activity-list li:last-child {
    border-bottom: none;
}


/* Styles pour la gestion des victimes */
.victim-management {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.victim-management h3 {
    margin-bottom: 20px;
    background-color: #34495e;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.victim-management table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.victim-management th, .victim-management td {
    padding: 10px;
    border: 1px solid #bdc3c7;
}

.victim-management th {
    background-color: #34495e;
    color: white;
}

.victim-management td {
    text-align: center;
}

.victim-management .btn-edit, .victim-management .btn-delete {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.victim-management .btn-delete {
    background-color: #e74c3c;
}

.victim-management .btn-edit:hover, .victim-management .btn-delete:hover {
    background-color: #2980b9;
}

