@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: #0b8997;
    color: white;
    padding: 15px 0;
    text-align: center;
    height: fit-content;
}


nav ul {
    list-style: none;
    padding: 0;
}
.logo {
    height: 60px;
    float: left;
    margin-left: 40px;
    background: #fff;
    border-radius: 50%;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
    text-decoration: underline;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.team-member {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 350px;
    text-align: center;
    float: left;
    margin-top: 25px;
    margin-bottom: 5px;
}
.team-member:hover{
    scale: 1.2;
    background-color: #e0f7fa;
}

.team-member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.team-member h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.team-member p {
    font-size: 16px;
    color: #555;
    margin: 10px 20px;
}

.team-member .role {
    font-size: 18px;
    color: #0b8997;
    margin-bottom: 10px;
}


footer {
    background: #0b8997;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
}

footer .social img {
    height: 30px;
}
