@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #0b8997;
    color: white;
    padding: 15px 0;
    text-align: center;
    height: fit-content;
}


nav ul {
    list-style: none;
    padding: 0;
}
.logo {
	width:60px;
    height: 60px;
    float: left;
    margin-left: 40px;
    background: #fff;
    border-radius: 50%;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
    text-decoration: underline;
}
.hero {
    background: url('../images/hemorag.jpg') no-repeat center center/cover;
    color: #000;
   
    text-align: center;
    padding: 12px 0;
    height: 300px;
    margin: 50px;
}.hero1 {
    background: url('../images/cons.jpg') no-repeat center center/80% auto;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    height: 300px;
    margin: 50px;
}

.hero h2 {
    font-size: 50px;
    color: white;
}
.container {
    max-width: 900px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #0b8997;
    margin-bottom: 20px;
    text-align: center;
}

.highlight {
    background-color: #0b8997;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}

.steps-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    color: white;
}

.step {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}
.img{
    margin-left: 130px;
}
.step-number {
    background-color: #d32f2f;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
}


h2 {
    font-size: 24px;
    color: #000;
}



ol {
    padding-left: 20px;
}

li {
    margin: 10px 0;
    line-height: 1.6;
}

li::marker {
    color: #d32f2f;
}
.container1 h1 {
    
    margin: 80px;
    padding: 20px;
    color: #fff;
    size: 50px;
}

footer {
    background: #0b8997;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
}

footer .social img {
    height: 30px;
}
