body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #F1FAEE, #FFFFFF);
}

.divContent {
    width: 350px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
     box-shadow: 5px 5px #007BFF;
    position: relative;
}

.divContent h2 {
    margin-top: 0;
    color: #007BFF;
}
.divContent img{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;  
}

.inputs {
    position: relative;
    margin: 20px 0;
}

.inputs input {
    width: 90%;
    padding: 10px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* .inputs .icon-user,
.inputs .icon-lock {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #777;
    background: url('A1.png') no-repeat;
} */
.inputs .icon-user,
.inputs .icon-lock {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.links {
    margin-top: 20px;
    font-size: 0.9em;
}

.links a {
    color: black;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.links a:hover {
    text-decoration: underline;
}
.New:hover{
    color: #007BFF;
}
.forgetPwd:hover{
    color: red;
}