@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background-color: #0b8997;
    color: white;
    padding: 15px 0;
    text-align: center;
    height: fit-content;
    width:100%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}
.logo {
	width:60px;
    height: 60px;
    float: left;
    margin-left: 40px;
    background: #fff;
    border-radius: 50%;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.image-section img {
    width: 400px;
    height: 300px;
}

.content-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.content-section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0b8997;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 260px;
    
}

.cta-button:hover {
    background-color: #0b8997;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0ebf4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.step {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 0 10px;
}

.circle {
    background-color: #0b8997;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 auto 10px auto;
}
.cta-button a{
    color: white;
    text-decoration: none;
}
.step p {
    font-size: 16px;
    color: #333;
}

footer {
    background: #0b8997;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
}

footer .social img {
    height: 30px;
}

