body {
    font-family: Arial, sans-serif;
/*     background-color: #f0f0f0; */
	background: linear-gradient(to bottom, #F1FAEE, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
.Form {
    
/*     display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 18px;
    padding: 8px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
    position: relative;
  background-color: #fff;
  border-radius: 12% 0 0 12%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}
h2 {
    margin-bottom: 20px;
  }

.container{
    background-color: #5cacec;
    margin: 10%;
    display: flex;}
form label {
    display: block;
     margin-bottom: 5px;
      }
      
input {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
      }
      
#button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #button:hover {
    background-color: #0056b3;
  }
#logo{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}